@model IEnumerable<MediaCenterControl.Models.Damage>

@{
    ViewBag.Title = "Arhiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Arhiva</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceDate)
        </td>
        <td>
            @Html.ActionLink("Detalji", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
