<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MediaCenterControl</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MediaCenterControl", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["UserId"] != null)
                    {
                        <li>@Html.ActionLink(Resources.Localization.RemoteControl, "Index", "RemoteControl")</li>
                        <li>@Html.ActionLink(Resources.Localization.Notifications, "Index", "Notifications")</li>
                        <li>@Html.ActionLink(Resources.Localization.Language_label, "ChangeLanguage", "Home", new { language = Resources.Localization.Language_short, returnUrl = this.Request.RawUrl }, null)</li>
                        <li>@Html.ActionLink(Resources.Localization.Logoff, "Logoff", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(Resources.Localization.Registration, "Register", "Home")</li>
                        <li>@Html.ActionLink(Resources.Localization.Login, "Login", "Home")</li>
                        <li>@Html.ActionLink(Resources.Localization.Language_label, "ChangeLanguage", "Home", new { language = Resources.Localization.Language_short, returnUrl = this.Request.RawUrl }, null)</li>
                    }
                </ul>
                @if (Session["Username"] != null)
                {
                    <span class="pull-right user">@Resources.Localization.User: @Session["Username"].ToString()</span>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>